@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Michroma&family=Unbounded:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@keyframes slideInUp {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideOutDown {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(100px);
  }
}
.animate-on-scroll {
  opacity: 0;
}

.animated {
  animation: slideInUp 0.6s ease-out forwards;
}

.fade-out {
  animation: slideOutDown 0.6s ease-out forwards;
}

.hero-video {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.hero-video #backgroundVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
.hero-video .navbar .navbar-brand img {
  width: 250px;
}
@media (max-width: 425px) {
  .hero-video .navbar .navbar-brand img {
    width: 200px;
  }
}
@media (max-width: 375px) {
  .hero-video .navbar .navbar-brand img {
    width: 150px;
  }
}
.hero-video .navbar .menu-icon {
  margin: 1rem;
  width: 30px;
  height: 30px;
  max-width: 100%;
  height: auto;
}
.hero-video .navbar .btn {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  font-family: "Montserrat", sans-serif;
}
.hero-video .navbar .btn span {
  font-size: 1rem;
  color: #fff;
}
.hero-video .offcanvas-end {
  background-color: #121212;
  color: #303030;
}
.hero-video .offcanvas-header h4 {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}
.hero-video .nav-link {
  font-family: "Montserrat", sans-serif;
  list-style: none;
  color: #484848 !important;
  padding: 0.5rem 1rem;
}
.hero-video .nav-link:hover {
  color: #ffffff !important;
}
.hero-video .social-media {
  margin-top: 1.5rem;
}
.hero-video .social-media ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.hero-video .social-media ul li {
  display: inline-block;
  margin-right: 1rem;
}
.hero-video .social-media ul li:last-child {
  margin-right: 0;
}
.hero-video .social-media ul li a {
  color: #484848;
  font-size: 24px;
  transition: transform 0.3s ease, color 0.3s ease;
}
.hero-video .social-media ul li a:hover {
  transform: scale(1.2);
  color: #ffffff;
}
.hero-video .scroll-down {
  position: absolute;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
}
.hero-video .scroll-down .rotate-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.6588235294);
  animation: moveUpDown 2s ease-in-out infinite;
}
.hero-video .scroll-down .rotate-text:hover {
  color: #ffffff;
}
.hero-video .scroll-down i {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.7647058824);
}
.hero-video .scroll-down i:hover {
  transform: scale(1.2);
  color: #ffffff;
}
@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
@keyframes wheel {
  0% {
    opacity: 1;
    top: 5px;
  }
  100% {
    opacity: 0;
    top: 40px;
  }
}
.hero-video .list-inline-item:hover {
  color: #ffffff !important;
}

.reference-carousel {
  width: 100%;
  overflow: hidden;
  padding: 2rem 0;
}
.reference-carousel .carousel-track {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  animation: scrollLeft 20s linear infinite;
  width: 1500px;
}
.reference-carousel .carousel-track img {
  margin: 0 1rem;
  width: 150px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.py-5 {
  padding: 5rem 0;
}
.py-5 .content-box {
  background-color: #ececec;
  height: 23rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.py-5 .number-label {
  position: absolute;
  top: 10px;
  right: 10px;
  color: rgb(193, 193, 193);
  font-size: 3.5rem;
  font-weight: 600;
  padding: 5px 10px;
}
.py-5 .info-label {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: rgb(137, 137, 137);
  font-size: 1rem;
  padding: 1rem;
}
.py-5 .info-label h5 {
  color: #484949;
  font-weight: 600;
}
.py-5 .info-label p {
  font-size: 1.2rem;
}
.py-5 .custom-heading {
  color: #525252;
  font-weight: 700;
  text-align: center;
}
.py-5 .btn-primary {
  background-color: #102079; /* Arka plan rengini değiştir, örnek: turuncu */
  color: #ffffff; /* Yazı rengini beyaz yap */
  border: no;
  padding: 10px 20px; /* Butonun içine boşluk ekle */
  transition: background-color 0.3s ease; /* Hover durumunda yumuşak geçiş efekti */
}
.py-5 .btn-primary:hover {
  background-color: #1c55a6; /* Hover durumunda arka plan rengini koyulaştır */
  color: #ffffff; /* Yazı rengi hover durumunda da beyaz kalsın */
}

.card-wrapper {
  margin-bottom: 30px;
}

.card {
  display: inline-block;
  position: relative;
  overflow: hidden;
  min-height: 300px;
  height: 100%;
}
.card:hover {
  box-shadow: 8px 12px 31px -10px #ab98ab;
}
@media (max-width: 768px) {
  .card {
    margin-bottom: 2rem;
  }
}
@media (max-width: 576px) {
  .card {
    margin-bottom: 2rem;
  }
}
.card .card-img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
  overflow: hidden;
}
.card .card-img-wrapper img {
  transition: transform 1s ease;
}
.card .card-img-wrapper:hover img {
  transform: scale(1.15);
}
.card .card-body {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  background-color: #fff;
  transition: height 1.5s ease;
}
.card .card-body .card-title {
  margin-bottom: calc(50% + 20px);
  transition: margin-bottom 1.5s ease;
}
.card .card-body .card-content {
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
  transition: bottom 1.5s ease;
}
.card .card-body:hover {
  height: 80%;
}
.card .card-body:hover .card-title {
  margin-bottom: 0.75rem;
}
.card .card-body:hover .card-content {
  bottom: 0;
}

.section-machine {
  margin-top: 5rem;
}
.section-machine .card {
  position: relative;
  overflow: hidden;
}
.section-machine .card .card-img-top {
  width: 100%;
  height: auto;
}
.section-machine .card .card-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(38, 38, 38, 0.406);
  padding: 1rem;
  transition: height 0.3s ease-in-out;
  height: 3rem;
  overflow: hidden;
}
@media (max-width: 768px) {
  .section-machine .card .card-overlay { /* Tablet ve daha küçük ekranlar */
    height: 0rem; /* Daha küçük bir yükseklik */
  }
}
@media (max-width: 576px) {
  .section-machine .card .card-overlay { /* Mobil ekranlar */
    height: auto; /* İçeriğin yüksekliğine göre otomatik yükseklik */
    padding: rem; /* Daha küçük padding */
  }
}
.section-machine .card .card-overlay .card-title {
  color: white;
  margin: 0;
  font-size: 1.3rem;
}
.section-machine .card .card-overlay .card-details {
  color: rgb(255, 255, 255);
  margin-top: 1rem;
  display: none;
  font-weight: 200;
}
.section-machine .card:hover .card-overlay {
  height: 50%;
}
.section-machine .card:hover .card-overlay .card-details {
  display: block;
}

#machineCarousel .carousel-indicators {
  position: absolute;
  bottom: -3.5rem;
  display: flex;
  justify-content: center;
}
#machineCarousel .carousel-indicators [data-bs-target] {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: #6bb2ff;
}
#machineCarousel .carousel-indicators [data-bs-target]:hover {
  background-color: #006fe6;
}
#machineCarousel .carousel-indicators .active {
  background-color: #0056b3;
}

.carousel slide .custom-carousel-control {
  position: absolute;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: blue;
}
.carousel slide .custom-carousel-control-prev {
  left: 45%;
}
.carousel slide .custom-carousel-control-next {
  right: 45%;
}
.carousel slide .custom-carousel-control .carousel-control-prev-icon,
.carousel slide .custom-carousel-control .carousel-control-next-icon {
  background-color: #fff;
  padding: 10px;
}

.section-newsletter {
  position: relative;
  background-image: url("/Assets/img/blog-pic.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 1;
  min-height: 50vh;
}
.section-newsletter::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}
.section-newsletter .container {
  position: relative;
  z-index: 3;
}
.section-newsletter .container .btn-primary {
  color: rgb(255, 255, 255);
  background-color: #1338bf;
  border: none;
}
.section-newsletter .container .btn-primary:hover {
  background-color: #225ed7; /* Hover durumunda arka plan rengini koyulaştır */
  color: #ffffff; /* Yazı rengi hover durumunda da beyaz kalsın */
}
.section-newsletter h2, .section-newsletter p, .section-newsletter form {
  color: white;
}

.blog-section .card {
  border: none;
  position: relative;
  color: white;
}
.blog-section .card img {
  height: 380px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(80%);
}
.blog-section .card .card-body {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  transition: background 0.3s ease-in-out;
}
.blog-section .card .card-body .card-title {
  font-size: 1.1rem;
  font-weight: bold;
}
.blog-section .card .card-body .card-text {
  font-size: 1rem;
}
.blog-section .card .card-body .read-more {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 1.3rem;
  font-weight: bold;
  color: rgb(0, 0, 4);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.blog-section .card .card-body .read-more:hover {
  color: #ccc;
}
.blog-section .card:hover .card-body {
  background: rgba(0, 0, 0, 0.471);
}

.faq-section {
  padding: 50px 0;
  border-radius: 8px;
}
.faq-section h2 {
  font-size: 3rem;
  color: #333;
  margin-bottom: 40px;
  font-weight: 500;
}
.faq-section .question {
  margin-bottom: 20px;
  background-color: rgba(233, 236, 239, 0.7803921569);
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.faq-section .question h5 {
  font-size: 1.2rem;
  color: #494949;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.faq-section .question h5 .toggle-icon {
  font-size: 1.5rem;
  color: #555;
}
.faq-section .question p {
  font-size: 1rem;
  color: #555;
  margin-top: 10px;
  background-color: rgba(233, 236, 239, 0.7803921569);
  padding: 10px;
  border-radius: 8px;
  display: none;
}
.faq-section .question:hover {
  background-color: #dfe3e8;
}
.faq-section .question.active {
  background-color: rgba(233, 236, 239, 0.7803921569);
}
.faq-section .question.active h5 .toggle-icon {
  transform: rotate(0deg);
}
.faq-section .question.active p {
  display: block;
  background-color: rgba(233, 236, 239, 0.7803921569);
  color: rgb(0, 0, 0);
}

.footer {
  background-color: #212121;
  padding: 10px 0;
  margin-top: 8rem;
}
.footer .footer-bottom {
  border-top: 1px solid #5da8f7;
  padding-top: 1rem;
  margin-top: 5rem;
}
.footer .footer-bottom .footer-logo img.logo {
  max-width: 200px;
}
.footer .footer-bottom p {
  font-size: 0.75rem;
  color: #ffffff;
  margin-top: 4px;
}
.footer h6 {
  color: rgb(255, 255, 255);
}
.footer ul {
  list-style: none;
  padding: 0;
}
.footer ul li {
  margin-bottom: 0.3rem;
}
.footer ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 0.85rem;
}
.footer ul li a:hover {
  color: rgb(27, 156, 255);
}
.footer .social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-right: 1.5rem;
}
.footer .social-icons a {
  display: inline-block;
}
.footer .social-icons a img.social-icon {
  width: 30px;
  height: 30px;
  transition: transform 0.2s;
}
.footer .social-icons a img.social-icon:hover {
  transform: scale(1.1);
}
.footer .newsletter-form .form-control {
  margin-bottom: 6px;
  border-radius: 1rem;
  font-size: 0.85rem;
  padding: 0.4rem 0.6rem;
}
.footer .newsletter-form .btn-primary {
  border-radius: 1rem;
  background-color: #007bff;
  font-size: 0.85rem;
  padding: 0.3rem 0.8rem;
}
.footer .newsletter-form .btn-primary:hover {
  background-color: #0056b3;
}

.floating-circle-area {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 999;
}
.floating-circle-area .button-contact {
  background-color: #ffffff;
  color: #1823c5;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.296);
  transition: background-color 0.3s ease;
  border: 2px #121212;
}
.floating-circle-area .button-contact i {
  font-size: 20px;
}
.floating-circle-area .button-contact:hover {
  background-color: rgba(221, 237, 255, 0.631372549);
}
.floating-circle-area .button-contact.floating-inner {
  display: none;
}
.floating-circle-area[data-open=yes] .floating-inner {
  display: block;
}

#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgba(16, 44, 84, 0.4784313725);
  color: white;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-behavior: smooth;
}
#scrollToTopBtn:hover {
  background-color: #0056b3;
}
#scrollToTopBtn i {
  font-size: 20px;
}/*# sourceMappingURL=enveksstyle.css.map */